body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	max-width: 1248px;
	padding: 0 24px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper-test {
	width: 40%;
	background-color: #fff;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}

body {
	font-size: 18px;
	background-color: rgb(220, 216, 216);
}

.question-span {
	color: orange;
	font-size: 18px;
}

h1 {
	margin-left: 20px;
	font-size: 20px;
}

.heading {
	color: orange;
	text-align: center;
}

.score-rating {
	font-size: 25px;
}

.bg1 {
	background-color: green;
}

.bg2 {
	background-color: red;
}

ul {
	list-style: Upper-latin;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn {
	border: none;
	font-size: 18px;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	background: none;
	color: black;
	background-color: cornsilk;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 5px;
	line-height: 1.3;
	margin-left: 5px;
	padding: 5px 10px;
}
.answer-wraper{
	display: flex;
	flex-direction: column;
	justify-content: start;
	list-style: none;
}